.loads {
  width: 3em;
  animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: gray;
  stroke-width: 2;
}

.ball {
  fill: black;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
